<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>
<body>
<h1 th:text="#{page.boardview}"></h1>
<h2 th:text="${article.title}">제목입니다.</h2>
<p th:text="${article.content}">내용이 들어갈 부분입니다.</p>
<a th:href="@{${article.filepath}}">이미지 보기</a>
<a th:text="#{button.edit}" th:href="@{/board/modify/{id}(id=${article.id})}">수정하기</a>
<a th:text="#{button.delete}" th:href="@{/board/delete(id=${article.id})}">삭제하기</a>
</body>
</html>