<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<h1 th:text="|Hello, ${user.name}|">Hello</h1>
<h2>This is a board for Yeongdong's personal project</h2>
<button onclick="location.href='/logout'" type="button">로그아웃</button>
<ul>
    <li>Board
        <ul>
            <li><a th:text="#{page.boardlist}" href="/board/list">글 목록</a></li>
            <li><a th:text="#{page.boardwrite}" href="/board/write">글 작성</a></li>
        </ul>
    </li>
</ul>
</body>
</html>