.badge {
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}